* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
    font-size: 16px;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-color: #2965F1;
    padding: 23px 0;
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0;
    min-height: 100vh;

}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    font-size: 18px;
    font-weight: 400;
}

.main-image {
    max-width: 715px;
    width: 100%;
}


.about-section {
    background-color: #FFFFFF;
    padding: 100px 0;
    margin-bottom: 100px
}

select {
    width: 150px;
    height: 36px;
    padding: 6px 10px;
    background-image: url(assets/images/ep_arrow-down.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.section-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    list-style-image: url(assets/images/solar_map-arrow-up-bold.svg);
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.books-list {
    margin-bottom: 20px;
    padding: 0px 20px;

}

.label {
    margin-right: 4px;
    display: inline-block;
    margin-bottom: 10px;
}

.text-field {
    display: inline-block;
    vertical-align: middle;
    width: 330px;
    padding: 8px 12px;
    height: 36px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    width: 125px;
    height: 36px;
    background-color: #2965f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 0;
}

.line {
    border: 1px solid rgba(48, 48, 48, 0.3);
    width: 100%;
    height: 0px;
    margin: 60px 0;
}

table {
    width: 300px;
    height: 196px;
    border-collapse: collapse;
    font-size: 14px;

}

th,
td {
    padding: 12px 15px;

    border: 1px solid #ddd;

    text-align: center;

}

footer {
    background-color: #fafaff;
    padding: 26px 0;
}

.footer-link {
    color: #2965F1;
    text-decoration: none;
    font-size: 14px;
}